<div class="grid align-items-center" style="height: 100vh">
    <div class="col-12 md:col-6 lg:col-3 md:col-offset-4 lg:col-offset-4">
        <p-card class="text-center">
            <h1>Test registro de usuarios</h1>
            <p class="text-left my-5">Solo tienes que click en login para ingresar a la app! Esto seteara el token para proximos llamados.</p>
            <button pButton type="button" label="login" style="width: 150px;" (click)="login()"></button>
        </p-card>
    </div>
</div>
