
<div class="container">
    <div class="flex justify-content-between align-content-center">
        <div>
           <h1>Lista de usuarios</h1> 
        </div>
        <div class="flex align-items-center justify-content-center">
            <button pButton type="button" label="Agregar" class="p-button-info" (click)="gotoForm()"></button>   
        </div>
    </div>
    <p-table [value]="usuarios" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr (click)="gotoDetail(usuario)" class="seleccionable">
                <td>{{usuario._id}}</td>
                <td>{{usuario.usuario}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.correo}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
